.container.profile {
	flex: 1;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

header.profile {
	width: 100%;
	box-shadow: 0px 2px 2px #d4d2d2;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	height: 10%;
}

header.profile > div {
	width: 40%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

header.profile span {
	color: #0981d8;
	font-size: 30px;
	font-weight: bold;
}

main.profile {
	width: 50%;
	display: flex;
	flex-direction: column;
	margin: 1em 0 1em 0;
	padding: 1em;
	border: 1px solid #ccc;
	height: 28rem;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
	border-radius: 5px;
	gap: 1em;
}

main.profile .image {
	height: 50%;
	display: flex;
    justify-content: center;
	border-radius: 5px;
}

main.profile .image img{
	width: 100%;
	border: 1px solid #ccc;
	object-fit: contain;
}

main.profile .desc {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 2em;
}


main.profile .desc .label {
	display: flex;
	align-items: center;
	/* margin-top: 3px; */
}

main.profile .desc .label .left {
	/* color: #0981d8; */
	font-size: 15px;
	font-weight: bolder;
}

main.profile .desc .label .right {
	margin-left: 10px;
}

main.profile .actions {
	display: flex;
	gap: 1em;
	justify-content: center;
}

main.profile .actions .actionBtn {
	width: 10rem;
	background-color: #0981d8;
	font-weight: bold;
	height: 2em;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
}
