.container.signin{
    padding: 40px 30px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

header .title{
    font-size: 32px;
}

main.signin{
    display: flex;
    flex-direction: row;
    justify-self: center;
    align-items: space-around;
    justify-content: center;
    width: 100%;
}

main.signin .form{
    width: 556px;
    min-height: 561px;
    border-radius: 49px;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    box-shadow: 1px 1px 5px grey;
    flex-direction: column;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

main.signin .form .title{
    font-size: 32px;
    font-weight: bold;
    color: black;
}

main.signin .form span{
    color: #716E6E;
}


main.signin .form .foot{
    height: 20%;
}

main.signin .input{
    border: none;
    border-bottom: solid 1px black;
    background-color: transparent;
    color: black;
    outline: none;
    width: 100%;
    margin-top: 30px;
}

main.signin .foot{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

main.signin .formBtn{
    border-radius: 10px;
    width: 360px;
    height: 50px;
}


main.signin .select{
    margin-top: 30px;
    border: none;
    border-bottom: solid 1px black;
    background-color: transparent;
    color: black;
    outline: none;
    width: 100%;
}


footer{
    height: 10%;
}